
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/Style.css"/>


</head>
<body class="body4">


<nav class="navbar navbar-inverse">

    <div class="navbar-header">

        <!--This will collapse the navigation bar and make it shown while clicking the bar even after min size,-->
        <!--The Collapse start here-->

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testNavBar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse" id="testNavBar">
        <!--The Collapse end here-->

        <div class="row">
            <ul class="nav navbar-nav">
                <div class="col-md-6">
                    <li class="col-gap"><a href="/"> Home</a></li></div>
                <div class="col-md-6">
                    <li class="col-gap"><a href="/add"> Add</a></li></div>
            </ul>
        </div>

    </div>

</nav>

<div class="container">
    <div class="col-md-12">
        <div class="body2">
            <a href="/"><strong> Show all Pets List</strong></a><br/>

            <label class="fontstyle">PetName</label>:<span th:text="${pets.PetName}"></span><br/>
            <label class="fontstyle">Age</label>:<span th:text="${pets.Age}"></span><br/>
            <label class="fontstyle">Type</label>:<span th:text="${pets.Type}"></span><br/>
            <label class="fontstyle">Breed</label>:<span th:text="${pets.Breed}"></span><br/>
            <label class="fontstyle">Colour</label>:<span th:text="${pets.Colour}"></span><br/>
            <label class="fontstyle">Distinguishingfeatures</label>:<span th:text="${pets.Distinguishingfeatures}"></span><br/>
            <label class="fontstyle">CellPhone</label>:<span th:text="${pets.CellPhone}"></span><br/>

            <a th:href="@{/delete/{id} (id=${pets.id})}">Delete this pet</a>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>